[submodule "nGene/vendor/spdlog"]
	path = nGene/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "nGene/vendor/imgui"]
	path = nGene/vendor/imgui
	url = https://github.com/ThuAbLKA/imgui
