[submodule "nGene/vendor/spdlog"]
	path = nGene/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "nGene/vendor/imgui"]
	path = nGene/vendor/imgui
	url = https://github.com/ThuAbLKA/imgui
[submodule "nGene/vendor/glm"]
	path = nGene/vendor/glm
	url = https://github.com/g-truc/glm
